body{
    background-color: #93BFCF;
}


.MainCube{
    width: 20em;
    height: 25em;
    background-color: white;
    border-radius: 10px;
    margin: 8em auto 0 auto;
    position: relative;
}

.InternalCube{
    width: 18em;
    height: 18em;
    border-radius: 10px;
    position: absolute;
    top: 3%;
    left: 5%;
    bottom: 3%;
}

.Text1{
    position: absolute;
    top: 72%;
    left: 15%;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.Text2{
    position: absolute;
    top: 82%;
    left: 5%;
    font-size: 1.3em;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

.attribution{
    margin: 8% 0 0 27%;
    font-size: 1em;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

